@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600;700&family=Karla:wght@200;400&family=Oswald&display=swap');

:root{
    --principal: #181818;
    --secundario:#FEBD01;
    --tercer: #fff8ec; 
    --cuarto:#bb8d01;
    --quinto: #BF9D73;
    --letra2: #000000;
    --letra3: #d8dddb;
    --kanit: 'Kanit', sans-serif;
    --karla: 'Karla', sans-serif;
    --oswald: 'Oswald', sans-serif;
}

body{
    background-color: var(--secundario);
}

.carta{
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.carta-fila{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    padding: 2%;
    margin-bottom: 0px;
}
.carta-case{
    height: auto;
    min-height: 390px;
    max-height: 550px;
    width: 325px;
    overflow: hidden;
    margin-bottom: 32px;
    transition: transform 0.3s ease;
}
.carta-case:hover{
    transform: scale(1.1);
}

.carta-case:hover .carta-case-3{
    transform: scale(0.9);
    margin-top: -12px;
}

.carta-case-2{
    padding: 18px;
    padding-bottom: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--principal);
    border-radius: 150px 150px 50px 50px;
    margin-bottom: 18px;
    overflow: hidden;
}
.carta-case-2 h2{
    margin: 0px;
    margin-top: 12px;
    color: var(--secundario);
    font-family: var(--oswald);
    text-transform: uppercase;
    font-size: 32px;
}
.carta-case-2 img{
    width: 100%;
    max-width: 300px;
    transition: opacity 0.3s ease;
    z-index: 2;
    max-height: 240px;
}
.carta-case-2 img:hover{
    opacity: 0;
}
.carta-case-2 p{
    color: var(--tercer);
    font-family: var(--kanit);
    text-align: center;
}
.contenedor-img{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#lupa {
    position: absolute;
    opacity: 0;
    transition: opacity 0.3s ease;
    cursor: pointer;
    z-index: 3;
}

.contenedor-img:hover img {
    opacity: 0.1;
}

.contenedor-img:hover #lupa {
    opacity: 1;
    stroke: var(--secundario);
}

.carta-case-3{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--principal);
    border-radius: 0px 0px 40px 40px;
    padding: 12px;
    transition: transform 0.3s ease;
}

.carta-case-3 #comprar, .contenido-principal-burger-text #comprar{
    background-color: var(--cuarto);
    color: var(--tercer);
    border: 0px;
    font-family: var(--oswald);
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}

.carta-case-3 #comprar, .contenido-principal-burger-text #comprar{
    padding: 10px 30px;
    border-radius: 20px;
    transition: letter-spacing 0.3s ease;
    z-index: 2;
}

.carta-case-3 #comprar:hover{
    letter-spacing: 4px;
}



/* -- VENTANA EMERGENTE -- */

.ventana-burger {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #644b0050;
}

.contenido-burger{
    background-color: var(--principal);
    margin: auto;
    padding: 20px;
    border-radius: 25px;
    width: 70%;
    max-width: 1400px;
    height: fit-content;
    color: var(--tercer);
}

.contenido-principal-burger{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.contenido-principal-burger img{
    width: 100%;
    max-width: 350px;
}

.contenido-principal-burger-text{
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 100%;
}
.contenido-principal-burger-text h2, .contenido-burger h2{
    color: var(--secundario);
    font-family: var(--oswald);
    text-transform: uppercase;
    font-size: 32px;
    margin-bottom: 8px;
}
.contenido-principal-burger-text p{
    font-family: var(--kanit);
}

#contenido-precio{
    color: var(--secundario);
    font-family: var(--kanit);
    text-transform: uppercase;
    font-size: 18px;
    margin-top: 0px;
}

.contenido-principal-burger-text #comprar{
    width: fit-content;
}

.contenido-burger ul li{
    font-family: var(--kanit);
    margin-bottom: 2px;
}

.cerrar{
    position: absolute;
    right: 15%;
}

.cerrar:hover, .cerrar:focus {
    fill: var(--secundario);
    cursor: pointer;
}

.ventana-burger hr{
    height: 4px;
    background-color: var(--secundario);
}

#frasePedido a{
    color: var(--tercer);
}

/* -- RESPONSIVE -- */
@media only screen and (max-width: 600px){
    .cerrar{
        padding-top: 22px;
        
    }
    .cerrar svg{
        height: 25px;
        width: 25px;
    }
}
@media only screen and (min-width: 601px){
    .carta-fila{
        flex-direction: row;
        width: 1400px;
        max-width: 1400px;
    }
    .carta-case{
        width: 350px;
        margin-bottom: 12px;
    }
    .contenido-principal-burger{
        flex-direction: row;
    }
    .contenido-principal-burger-text{
        width: 50%;
    }
    .cerrar{
        right: 22.5%;
    }
}