@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600;700&family=Karla:wght@200;400&family=Oswald&display=swap');

:root{
    --principal: #181818;
    --secundario:#FEBD01;
    --tercer: #fff8ec; 
    --cuarto:#bb8d01;
    --quinto: #BF9D73;
    --letra2: #000000;
    --letra3: #d8dddb;
    --kanit: 'Kanit', sans-serif;
    --karla: 'Karla', sans-serif;
    --oswald: 'Oswald', sans-serif;
}

.case{
    height: 80vh;
    background-color: var(--secundario);
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.lista-compra{
    height: 100%;
    width: 100%;
    max-width: 1080px;
    background-color: var(--principal);
    border-radius: 10px;
    overflow-x: auto;
}

.lista-compra::-webkit-scrollbar {
    width: 12px;               
}
  
.lista-compra::-webkit-scrollbar-track {
    background: var(--principal);
}
  
.lista-compra::-webkit-scrollbar-thumb {
    background-color: var(--secundario);
    border-radius: 20px; 
    border: 3px solid var(--principal); 
}
#lista{
    padding: 10px;
}
#lista > h2{
    text-transform: uppercase;
    color: var(--secundario);
    font-family: var(--oswald);
    font-size: 32px;
    text-align: center;
    padding: 0px;
    margin: 0px;
    margin-bottom: 24px;

}
.divIzqLista{
    margin-right: 16px;
}
.divIzqLista img{
    max-height: 200px;
}

.divFilaBurger{
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
}
.divFilaBurger h2{
    color: var(--secundario);
    font-family: var(--oswald);
    letter-spacing: 1px;
    font-size: 26px;
    margin-left: 12px;
}

.divDerLista ul li{
    font-family: var(--kanit);
    margin-bottom: 2px;
    color: var(--letra3);
    margin-left: 12px;
}
#extra{
    color: var(--secundario);
    font-family: var(--kanit);
    cursor: pointer;
    margin-left: 12px;
}

.finalizarCompra{
    padding: 8px 12px;
    border-radius: 20px;
    border: 0px;
    background-color: var(--secundario);
    cursor: pointer;
    text-align: center;
    margin: auto;
}
.finalizarCompra a{
    font-family: var(--oswald);
    text-transform: uppercase;
    color: #000000;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

.divButton{
    display: flex;
    align-items: center;
    margin-top: 24px;
}

/* INGREDIENTES */
.divIngredientes{
    margin-left: 30px;
}
.divIngredientes label{
    margin-left: 8px;
    font-family: var(--kanit);
    color: var(--letra3);
}
/* -- RESPONSIVE -- */
@media only screen and (max-width: 600px){
    .divFilaBurger{
        align-items: center;
    }
    .divDerLista {
        width: 100%;
    }
}
@media only screen and (min-width: 601px) and (max-width: 960px){
    .case{
        padding: 75px;
    }
    .divFilaBurger{
        flex-direction: row;
        align-items: flex-end;
    }
    #lista{
        padding: 50px;
    }
}

@media only screen and (min-width: 960px){
    .case{
        padding: 75px;
    }
    .divFilaBurger{
        flex-direction: row;
        align-items: flex-end;
    }
    #lista{
        padding: 50px;
    }
}