@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600;700&family=Karla:wght@200;400&family=Oswald&display=swap');

:root{
    --principal: #181818;
    --secundario:#FEBD01;
    --tercer: #fff8ec; 
    --cuarto:#bb8d01;
    --quinto: #BF9D73;
    --letra2: #000000;
    --letra3: #d8dddb;
    --kanit: 'Kanit', sans-serif;
    --karla: 'Karla', sans-serif;
    --oswald: 'Oswald', sans-serif;
}

.case{
    min-height: 85vh;
    height: auto;
    background-color: var(--secundario);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 32px;
}

h2{
    font-family: var(--oswald);
    font-size: 28px;
    text-transform: uppercase;
    font-size: 48px;
    text-align: center;
}

form{
    background-color: var(--principal);
    display: flex;
    flex-direction: column;
    padding: 50px 25px;
    border-radius: 15px;
    height: auto;
}
form label{
    color: var(--secundario);
    font-family: var(--oswald);
    text-transform: uppercase;
    margin-bottom: 6px;
    font-size: 22px;
}
form input, select{
    margin-bottom: 18px;
    font-family: var(--kanit);
    padding: 6px 6px;
    border-radius: 8px;
}
.finalizarCompra{
    padding: 8px 12px;
    border-radius: 20px;
    border: 0px;
    background-color: var(--secundario);
    cursor: pointer;
    text-align: center;
    margin: auto;
    font-family: var(--oswald);
    text-transform: uppercase;
    color: #000000;
    font-size: 20px;
    font-weight: bold;
}

.centrar{
    display: flex;
    flex-direction: row;
}
.centrarInput, .centrarInput input, .centrarInput select{
    width: 80%;
}
/* -- RESPONSIVE -- */
@media only screen and (max-width: 600px){

}
@media only screen and (min-width: 960px){
    .case{
        flex-direction: row;
    }
    form{
        width: 400px;
    }
}