@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600;700&family=Karla:wght@200;400&family=Oswald&display=swap');

:root{
    --principal: #181818;
    --secundario:#FEBD01;
    --tercer: #fff8ec; 
    --cuarto:#bb8d01;
    --quinto: #BF9D73;
    --letra2: #000000;
    --letra3: #d8dddb;
    --kanit: 'Kanit', sans-serif;
    --karla: 'Karla', sans-serif;
    --oswald: 'Oswald', sans-serif;
}

footer{
    height: auto;
    background-color: var(--cuarto);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px 0px;
}
.container-footer{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.container-case{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    color: var(--tercer);
}

.container-grid-tittle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

.container-grid-tittle #titulo{
    display: flex;
    text-align: center;
}

.container-grid-content{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: var(--kanit);
}

.container-grid-content h3{
    font-size: 18px;
    text-transform: uppercase;
    font-family: var(--kanit);
    margin: 2px;
}
.container-grid-content a{
    font-family: var(--kanit);
    font-weight: 300;
    color: var(--tercer);
    text-decoration: none;
}

#copyright{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 18px;
}
#copyright p{
    color: var(--tercer);
    font-family: var(--kanit);
}

/* -- RESPONSIVE -- */
@media only screen and (max-width: 600px){

}
@media only screen and (min-width: 601px) and (max-width: 960px){
    .container-grid {
        display: grid; 
        grid-template-columns: 2fr 1fr 1fr; 
        grid-template-rows: 1fr; 
        gap: 0px 0px; 
        grid-template-areas: ". . ."; 
        justify-items: center;
    }
}

@media only screen and (min-width: 960px){
    .container-grid {
        display: grid; 
        grid-template-columns: 2fr 1fr 1fr; 
        grid-template-rows: 1fr; 
        gap: 0px 0px; 
        grid-template-areas: ". . ."; 

        justify-items: center;
    }
}