@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600;700&family=Karla:wght@200;400&family=Oswald&display=swap');

:root{
    --principal: #181818;
    --secundario:#FEBD01;
    --tercer: #fff8ec; 
    --cuarto:#bb8d01;
    --quinto: #BF9D73;
    --letra2: #000000;
    --letra3: #d8dddb;
    --kanit: 'Kanit', sans-serif;
    --karla: 'Karla', sans-serif;
    --oswald: 'Oswald', sans-serif;
}

body {
    overflow-x: hidden;
}
header{
    height: 115px;
    background-color: var(--principal);
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
}
header img{
    height: 95px;
    margin-right: 72px;
}
#header-pedido{
    display: none;
}
.header-boton{
    border: 0px;
    background-color: transparent;
    height: 40px;
}
#header-menu {
    height: auto;
    width: 100%;
    background-color: var(--cuarto);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 100%; 
    transition: left 0.3s ease; 
    z-index: 3;
}

#header-menu.active {
    left: 0%;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2);
}

#boton-menu-desplegable{
    display: flex;
    justify-content: flex-end;
    margin-top: 5%;
    margin-right: 10%;
}

nav{
    margin: 24px;
}
.menu{
    list-style: none;
}
.menu li{
    margin-bottom: 12px;
}
.menu li a{
    text-decoration: none;
    font-size: 52px;
    text-transform: uppercase;
    font-family: var(--oswald);
    color: var(--tercer);
}
.social-media{
    position: absolute;
    bottom: 25px;
    margin-left: 42px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}
.social-media a{
    margin-right: 12px;
}
.social-media p{
    color: var(--tercer);
    margin-left: 32px;
    font-family: var(--kanit);
}

/* -- RESPONSIVE -- */
@media only screen and (max-width: 600px){

}
@media only screen and (min-width: 601px) and (max-width: 960px){
    #header-pedido{
        background-color: var(--secundario);
        padding: 5px 10px;
        border-radius: 15px;
        color: var(--tercer);
        text-decoration: none;
        text-transform: uppercase;
        font-family: var(--oswald);
        font-size: 22px;
        font-weight: 600;
        letter-spacing: 1px;
        display: block;
    }
    header img{
        margin-right: 72px;
    }
}

@media only screen and (min-width: 960px){
    #header-pedido{
        background-color: var(--cuarto);
        padding: 5px 10px;
        border-radius: 15px;
        color: var(--tercer);
        text-decoration: none;
        text-transform: uppercase;
        font-family: var(--oswald);
        font-size: 22px;
        font-weight: 600;
        letter-spacing: 1px;
        display: block;
    }
    #header-menu {
        width: 61%;
    }
    
    #header-menu.active {
        left: 39%;
    }
    header img{
        margin-right: 72px;
    }

}
