@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600;700&family=Karla:wght@200;400&family=Oswald&display=swap');

:root{
    --principal: #181818;
    --secundario:#FEBD01;
    --tercer: #fff8ec; 
    --cuarto:#bb8d01;
    --quinto: #BF9D73;
    --letra2: #000000;
    --letra3: #d8dddb;
    --kanit: 'Kanit', sans-serif;
    --karla: 'Karla', sans-serif;
    --oswald: 'Oswald', sans-serif;
}

h2{
    color: var(--secundario);
    font-family: var(--oswald);
    text-transform: uppercase;
}
p{
    font-family: var(--kanit);
    font-weight: 300;
    color: var(--letra3);
}

#video-slider{
    height: 90vh;
    overflow: hidden;
}
#video-slider h2{
    font-size: 72px;
    margin: 0px;

}
#video-slider-frase{
    position: absolute;
    bottom: 20%;
    left: 10vh;
    height: 0px;
    z-index: 2;
}
#capa{
    position: absolute;
    width: 100%;
    height: 90vh;
    background-color: #0000006f;
}
#video-slider video{
    object-fit: cover;
    width: 100%;
    z-index: 1;
    height: 90vh;
}


.contenedor {
    height: 75px;
    overflow: hidden;
    background-color: var(--cuarto);
    position: relative;
    display: flex;
    align-items: center;
}

.texto-desplazante {
    white-space: nowrap;
    position: absolute;
    animation: desplazar 60s linear infinite;
    font-size: 55px;
    font-family: var(--kanit);
    text-transform: uppercase;
    color: var(--tercer);
}

@keyframes desplazar {
    0% {
        left: 2%; 
    }
    100% {
        left: -400%; 
    }
}
/* -- SOBRE NOSOTROS -- */
.sobre-nosotros{
    height: auto;
    background-color: var(--principal);
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 50px 0px;
}
#sobre-nosotros-img{
    background-image: url(../img/pexels-adrian-dorobantu-2089717.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    width: 35%;
    border-radius: 0px 10px 10px 0px;
}
.sobre-nosotros-contenido{
    width: 64%;
    padding: 32px;
}
.sobre-nosotros-contenido h2{
    font-size: 58px;
    margin-top: 0px;
}
.sobre-nosotros-contenido p{
    font-size: 20px;
    color: var(--tercer);
    padding-right: 24px;
}
/* -- CARTA -- */
.carta{
    height: 200px;
    background-color: var(--secundario);
}
/* -- LOCAL Y RESERVA -- */
#info-local-reserva{
    background-color: var(--principal);
    overflow: hidden;
}
/* -- LOCAL -- */
.local{
    padding: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 550px;
    
}
#local-img{
    position: relative;
    left: 15%;
    bottom: 300px;
}
#local-img img{
    border-radius: 50% 0% 0% 40%;
}
.local-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5%;
}
.local-info p{
    font-size: 22px;
    font-family: var(--kanit);
}
/* -- RESERVA -- */
.reserva{
    height: auto;
    margin: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 5%;
}
.reserva-info h2, .local-info h2{
    font-size: 58px;
    margin: 0px;
}
.reserva-info p{
    font-size: 20px;
}
calendar-range{
    background-color: var(--letra3);
    padding: 16px;
    border-radius: 10px;
    font-family: var(--oswald);
    text-transform: uppercase;
}
calendar-month{
    --color-accent: var(--secundario);
    --color-text-on-accent: var(--letra2);
}
calendar-month::part(range-start range-end) {
    border-radius: 20px;
  }
/* -- RESPONSIVE -- */
@media only screen and (max-width: 600px){

}
@media only screen and (min-width: 601px) and (max-width: 960px){

}

@media only screen and (min-width: 960px){

}