@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600;700&family=Karla:wght@200;400&family=Oswald&display=swap');

:root{
    --principal: #181818;
    --secundario:#FEBD01;
    --tercer: #fff8ec; 
    --cuarto:#bb8d01;
    --quinto: #BF9D73;
    --letra2: #000000;
    --letra3: #d8dddb;
    --kanit: 'Kanit', sans-serif;
    --karla: 'Karla', sans-serif;
    --oswald: 'Oswald', sans-serif;
}

.case{
    min-height: auto;
    height: auto;
    background-color: var(--secundario);
    display: flex;
    align-items: space-around;
    padding: 32px;
    justify-content: center;
}

.menu-perfil{
    background-color: var(--principal);
    width: 100%;
    max-width: 30%;
    min-height: 80vh;
    border-radius: 25px 0px 0px 25px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: auto;
}

.lista-menu-perfil{
    background-color: var(--secundario);
    width: 90%;
    height: 90%;
    border-radius: 20px 0px 0px 20px;
    overflow: hidden;
}

.lista-menu-perfil ul{
    height: 100%;
    padding: 0px;
    margin: 0px;
    border-right: 6px solid var(--principal);
}
.lista-menu-perfil ul li{
    height: 24.5%;
    padding: 0px;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    font-family: var(--oswald);
    text-transform: uppercase;
    font-size: 28px;
    border-bottom: 6px solid var(--principal);
    cursor: pointer;
    font-weight: bold;
}

.lista-menu-perfil ul li:last-child{
    border-bottom: 0px;
}

.lista-menu-perfil ul li:hover{
    background-color: var(--cuarto);
    color: white;
}

.active-menu{
    background-color: var(--cuarto);
    color: white;   
}

.datos-perfil{
    background-color: var(--principal);
    width: 100%;
    max-width: 55%;
    min-height: 80vh;
    height: auto;
    border-radius: 0px 25px 25px 0px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow-x: auto;
}

.case-datos-perfil, .case-pedidos-perfil, .case-cambiar-perfil{
    background-color: var(--secundario);
    width: 95%;
    height: 90%;
    border-radius: 0px 20px 20px 0px;
    overflow: hidden;
    display: none;
}

.titulo-perfil{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cuarto);
    border-bottom: 6px solid var(--principal);
}
.titulo-perfil h2{
    font-family: var(--oswald);
    color: white;
    text-transform: uppercase;
    font-size: 28px;
}
.info-perfil{
    overflow-x: auto;
    height: 100%;
}

.info-perfil-overflow h5, .case-pedido h2{
    font-size: 1rem;
    line-height: 1.20;
    font-family: var(--oswald);
    margin-left: 25px;
}
.info-perfil-overflow h5 span{
    font-size: 1.625rem;
    font-family: var(--kanit);
    font-weight: 300;
}
.info-perfil-overflow hr{
    height: 4px;
    background-color: var(--principal);
    border: 0px;
}

.active{
    display: inline-flex !important;
    flex-direction: column;
}

.info-perfil::-webkit-scrollbar {
    width: 12px;               
}
  
.info-perfil::-webkit-scrollbar-track {
    background: var(--principal);
}
  
.info-perfil::-webkit-scrollbar-thumb {
    background-color: var(--secundario);
    border-radius: 20px; 
    border: 3px solid var(--principal); 
}

.organizacion a{
    margin-left: 25px;
    padding: 8px 12px;
    background-color: var(--principal);
    color: var(--secundario);
    font-family: var(--oswald);
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 20px;
}